*{
    margin: 0px;
    padding: 0px;
    border: none;
     font-family: Arial, Helvetica, sans-serif;
}
body{
   width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
    
}
#top{
    height: 42px;
    width: 160px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    position:fixed;
    margin-top: 500px;
    margin-left: 1100px;
    font-weight: 600;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#top img{
    height: 30px;
    width: 30px;
    fill: black;
    padding-top: 3px;
}

#navbar {
    height: 65px;
    width: 100%;
    background-color: #ebf1ff;
   display: flex;
   flex-direction:row;
   align-items: center;
   justify-content: space-between;
    position: sticky;
    top: 0px;
}

#logo img{
    height: 55px;
    width: 90%;
    border-radius: 20px 20px 0px 0px;
    margin-top: 15px;
    
}

#nav2{
    height: 80px;
    width: 100%;
    background-color: #ffffff;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
  position: sticky;
  top: 65px;
  border-bottom: 0.5px solid lightgray;
}

#nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

#nv1left{
    height: 95%;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight:700;
    margin-left: 30px;
}

#headerimg1{
    height: 25px;
    width: 50px;
}

#headerimg2{
    height: 25px;
    width: 40px;
}

#items1{
    height: 85%;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 10px;
}

#items2{
   height: 85%;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    gap: 10px;

}

#nv1right{
     height: 95%;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 25px;
    
    margin-right: 30px;
}

#items3 a{
    font-weight:700;
    text-decoration: underline;
    font-size: 16px;
}


#sellbutton{
 
    height: 60px;
    width: 150px;
    background-size: cover;
    background-position: center;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    

}
span{
    font-size: 22px;
  
    position: relative;
    right: 84px;
    opacity: 80%;
}
#sellbutton b{
     text-align: center;
    margin: 0px;
    font-size: 14px;
    position: relative;
    right: 87px;
    font-weight: 900;
    opacity: 80%;

}

#SelectCountry {
    border: 1px solid grey;
    height: 46px;
    width: 362px;
    
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 33px;
    margin-top: 5px;
}

#Select img{
    height: 30px;
    width: 30px;
    fill: black;
    padding-top: 3px;
    padding-right: 10px;

}
#SelectCountry input{
    color: black;
    font-size: 16px;
    width: 84%;
    
}

#Findcar-mobile{
      border: 1px solid grey;
    height: 46px;
    width: 65%;
   margin-right: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding-left: 10px;
}

#Findcar-mobile input{
    color: black;
    font-size: 16px;
    width: 100%;
}

#Search{
    height: 100%;
    width: 150px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;    
    border-radius: 0pc 5px 5px 0px;
}

#Search img{
    height: 25px;
    width: 25px;
    
}


#shop{
    height: 40px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    

}

#selectcatagory label{
    font-size: 15px;
    font-weight:600;
    margin-left: 35px;

}

#selectcatagory select{
    
    height: 20px;
    width: 20px;
}

#itemnames a{
    margin-right: 15px;
    font-size: 17px;
    font-family: sans-serif, Helvetica ;
    font-weight:500;
   
}

#master{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   margin: 10px 40px;

}
#Advertise{
  
    width: 100%;
}
#Advertisement1 img{
    height: 180px;
    margin-top: 30px;
    border-radius: 8px;
    width: 100%;
}

#Advertisement2 img{
    height: 180px;
    width: 100%;
    margin-top: 30px;
    border-radius: 8px;
    
}

#itemsdiv{
    
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin: 20px;
    gap: 64px;
    row-gap:unset;
    padding-top: 5px;
    
    
}

#purchase{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-size: cover;
    background-position: center;
   
    height: 180px;
}

#purchase img{
    height: 95px;
    width: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;

    
}
#purchase label{
    width: 90px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

#Mobile , #Car , #House , #Bike{

    font-size: 24px;
    font-weight: 700;
    height: 600px;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  
}

#phone1 ,#car1 , #house1 , #bike1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid lightgray;
    
    border-radius: 10px;
 
}

#phone1 img, #car1 img , #house1 img , #bike1 img{
    height: 80%;
    width: 100%;
    border-top: 1px solid lightgray;
    border-radius: 10px 10px 0px 0px;
 
    background-size: cover;
    background-position: center; 
    
}
#Mobiledetail, #Cardetail ,#Housedetail , #Bikedetail{
    height: 25%;
    width: 100%;
    margin: 5px 10px 5px 30px ;
    padding: 10px;
    

}

#p1{
    font-size: 19px;
    font-weight: 700;
    margin-top: 5px;
}

#p2{
    font-size: 16px;
    font-weight: 548;
    margin-top: 5px;
}

#p3{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

#p4{
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
}

#Catagorylabel label{
    text-align: left;
}


#Catagorylabel{
    width: 200px;
    font-size: 24px;
    font-weight: 600;
    margin: 25px 10px;

}

#Advertise1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%;
    margin: 30px 0px ; 
    
}
#Advertisement3 img{
    
    height: 250px;
    width: 1080px;
    border-radius: 8px;
    
}



#footer1{
    height: 200px;
    background-color: #f7f8f9;
    display: flex;
    flex-direction:row ;
    align-items: end;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 0.5px solid lightgray;
   
  
    padding: 0px 35px;
    border-bottom: 0.5px solid lightgray;

}
#left{
    height: 100%;
    width: 30%;
    
    font-size: 24px;
    font-weight:600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 50px;
    opacity: 90%;
}



#center{
    height: 95%;
    width: 18%;
    
}
#center img{
    height: 100%;
   margin-left: 20px;
    background-size: cover;
    background-position: center;
}
#right{
    height: 100%;
    width: 440px;

   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    
}
#rightdiv{
    height: 65px;
    width: 180px;
 
    
}
#rightdiv img{
   
    width: 130px;
    
    height: 44px;
    width: 140px;
    
  
   
}
button{

    opacity: 80%;
    font-weight: 700;

    color: blue;
    font-size: 24px;
}

#footer2{
    background-color: #f2f4f5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 320px;
    width: 100%;
    
    
}

#divfooter2{
    background-color: #f2f4f5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
   font-size: 16px;
    margin-top: 30px;
    padding: 40px;
    line-height: 23px;
    
}
#divfooter2 h4, #divfooter2 a{
    margin-top: 10px;
}

#footer3{
    background-color: #002f34;
    height: 64px;

    color: white;
   
   
    
}

#divfooter3{
    background-color: #002f34;
    height: 64px;
    color: white;
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
    
}

#footer3 p{
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;

}
#follow{
    display: flex;
     gap: 10px;
}

.logoimg, .logoimg1{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-top: 30px;
   
}

.logoimg img {
    height: 20px;
    width: 20px;
 
    background-position: center;
    background-size: cover;
}

.logoimg1 img{
    height: 15px;
    width: 15px;
 
    background-position: center;
    background-size: cover;
}
